/* Full page */

body{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0em;

    /* padding-left: 9em;
    padding-right: 9em; */
}

body p{
    font-size: 1.5em;
    color: white;
    margin: 0;
}

body h1{
    font-size: 4em;
    color: white;
    margin-bottom: 0.2em;
    margin-top: 0em;

}


/*
*
*           ABOVE THE FOLD
*
* 
*/ 

#foldwrapper{
    display: flex;

    margin-left: 2em;
    margin-left: 2em;

}
#above_fold{
    /* Flex as parent*/ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* Flex as child */ 
    height: 100vh; 
    width: 100%;

    /* Other*/
    background-image: url('../images/demons.jpg');
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-position: center; 
}


#left_image{
    /* Flex as parent */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Flex as child */ 
    flex: 1;

    /* Other */ 
}

#right_text{
    display: flex;
    flex-direction: column;
    /* Flex as child*/ 
    flex: 1;
    
    
}

#right_text p{
    flex: 1;
}



.circular_image{
    width: 70%;
    border-radius:50%; 
}



/*
*
*           BELOW FOLD
*
* 
*
*/
#below_fold{
    /* Flex as parent*/ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* Flex as child */ 
    height: 100vh; 
    width: 100%;

    /* Other*/
    border: 10px solid black; 
}