/* Full page */

body{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0em;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body p{
    font-size: 1.5em;
    color: white;
    margin: 0;
}

body h1{
    font-size: 4em;
    color: white;
    margin-bottom: 0.2em;
    margin-top: 0em;

}


/*
*
*           ABOVE THE FOLD
*
* 
*/ 

#foldwrapper{
    display: flex;
    flex: 10;
    margin-right: 2em;
    margin-left: 2em;

}

#above_fold {
    /* Flex as parent*/ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Flex as child */ 
    height: 100vh; 
    width: 100%;

    /* Other*/
    background-image: url('../images/demons.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}


#above_fold::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity for darkness */
    z-index: 1;
}

/* Ensure content appears above the overlay */
#above_fold > * {
    position: relative;
    z-index: 2;
}


#left_image{
    /* Flex as parent */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* Flex as child */ 
    flex: 1;

    /* Other */ 

}

#right_text{
    display: flex;
    flex-direction: column;
    /* Flex as child*/ 
    flex: 1;
    
}

#right_text p{
    flex: 1;
}



.blur-background {
    position: relative;
    padding-right: 1em;
    padding-left: 0;
    width: 80%; 
}

#right_text p {
    margin: 0; 
    color: white; 
    font-size: 1.2em; 
    line-height: 1.5; 
}


.circular_image{
    width: 80%;
    border-radius:50%; 
    margin-right: 2rem;
}



/*
*
*           BELOW FOLD
*
* 
*
*/
#below_fold{
    /* Flex as parent*/ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Flex as child */ 
    height: 100vh; 
    width: 100%;

    /* Other*/
    background-image: url('../images/plane.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}


#projects{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.rectangle {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #333;
}

.rectangle img{

    flex: 1; 
    width: 100%;
    height: 100%;
}
.text {
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    color: #555;
}






#below_fold {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    position: relative;
}




.rectangle {
    width: 90%; 
    max-width: 300px; 
    height: 10px; 
    border-radius: 10px; 
    background-color: #87ceeb; 
    margin: 0 auto; 
}


.random-text {
    font-size: 0.9rem;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*
*
*           THIRD FOLD
*
* 
*
*/
#third_fold {
    /* Flex as parent */ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Flex as child */ 
    height: 100vh; 
    width: 100%;

    /* Background Image */
    background-image: url('../images/grassery.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;

    /* Positioning for overlay */
    position: relative;
    overflow: hidden;
}

#third_fold::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#third_fold > * {
    position: relative;
    z-index: 2;
}




#above_fold {
    /* Flex as parent*/ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Flex as child */ 
    height: 100vh; 
    width: 100%;

    /* Other*/
    background-image: url('../images/demons.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}


#above_fold::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}


#above_fold > * {
    position: relative;
    z-index: 2;
}




body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0em;
}

body p {
    font-size: 1.5em;
    color: white;
    margin: 0;
}

body h1 {
    font-size: 4em;
    color: white;
    margin-bottom: 0.2em;
    margin-top: 0em;
}

/*
*           ABOVE THE FOLD
*/ 
#foldwrapper {
    display: flex;
    margin-right: 2em;
    margin-left: 2em;
}

#above_fold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100%;
    background-image: url('../images/demons.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}
#below_fold {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem;
    position: relative;
}

.tech-stack {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem; 
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 80%;
    width: 20em;
    height: 30em;
    margin-left: 2em;
    margin-right: 2em;
}

#spotify{
    display: flex;
    justify-content: flex-end;
    flex:4; 
    width: 100%;
}

#spotify p {
    font-size: 1em;
    flex: 1;
    text-align: center;
    margin-right: 2em;


    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSlow 4.5s ease-in-out forwards; 
}

@keyframes fadeInSlow {
    from {
        opacity: 0;
        transform: translateY(1px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}
#spotify iframe{
    margin-right: 2em;
    margin-top: 2em;
}





.project-title {
    font-size: 1.2rem; 
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.circular-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.rectangle {
    width: 100%;
    height: 12em; 
    background-color: #87ceeb;
    border-radius: 10px;
    margin-bottom: 1rem; 
}


.project-description {
    font-size: 0.9rem; 
    color: #555;
    line-height: 1.4;
    text-align: center;
    margin-top: 1rem;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#below_fold {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    position: relative;

    overflow-y: auto;

    background-image: url('../images/plane.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/* Video logic */


.video-container {
    width: 80%;
    max-width: 600px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  video {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  




  #third_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 250;
    margin-bottom: 3em;
  }

  .contact-logos{
    display: flex;
    flex-direction: row;
    flex: 105;
  }

  .logoend{
    width: 7em;
    height: 7em;
    margin: 0em 2em 0em 2em;
  }